/*********************************************************************
************************* Style Global Rouls *************************
*********************************************************************/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box
}

html {
    scroll-behavior: smooth
}

:root {

}

body {
    font-family: sans-serif, Tahoma, Geneva, Verdana;
}

.container {
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto
}

@media (min-width: 768px) {
    .container {width: 750px}
}

@media (min-width: 992px) {
    .container {width: 970px}
}

@media (min-width: 1200px) {
    .container {width: 1170px}
}

button {
    background: none
}

button:focus {
    outline: none
}

ul {
    list-style: none
}

/********************** End Style Global Rouls ***********************/

/*********************************************************************
************************** Style to project **************************
*********************************************************************/

header {
    background-color: rgb(246, 246, 246);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

header textarea {
    width: 100%;
    height: 300px;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 12px;
    padding: 25px;
    font-size: 24px;
    color: #795548;
    caret-color: #2196f3;
    margin-bottom: 10px;
    direction: rtl
}

header textarea::selection {
    background-color: #00bcd4;
    color: white
}

header .box {
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 15px;
    border-radius: 8px;
}

header .box section {
    font-size: 20px;
    font-weight: bold;
    text-transform: capitalize;
    color: #555
}

header .box section span {
    padding: 5px 10px;
    background-color: #2196f3;
    color: white;
    border-radius: 6px;
}